<mat-toolbar color="primary">
  <a mat-icon-button class="example-icon" [routerLink]="'/'">
    <mat-icon>menu</mat-icon>
  </a>
  <span class="example-spacer">Welcome To My Home</span>
  <a mat-button href="https://angular.cn/docs" target="_blank">Angular</a>
  <a mat-button href="https://material.angular.cn/components/categories" target="_blank">Material-ui</a>
  <button mat-icon-button class="example-icon favorite-icon">
    <mat-icon>favorite</mat-icon>
  </button>
  <button mat-icon-button class="example-icon">
    <mat-icon>share</mat-icon>
  </button>
</mat-toolbar>
