<mat-card>
  <mat-card-title>CSS技术专栏</mat-card-title>
  <a mat-button [routerLink]="['detail']">开始学习</a>
</mat-card>

<mat-card>
  <mat-card-title>Web APIs 学习</mat-card-title>
  <mat-card-subtitle>玩一玩一些有趣的原生API，期待一下...</mat-card-subtitle>
  <a mat-button [routerLink]="['skill', 'indexdb']">IndexDB</a>
  <button mat-button>敬请期待...</button>
</mat-card>

<mat-card>
  <mat-card-title>Angular 源码学习系列</mat-card-title>
  <a mat-button [routerLink]="['skill', 'angular', 'selection-model']">SelectionModel</a>
</mat-card>

<mat-card>
  <mat-card-title>Intersection Observer</mat-card-title>
  <button mat-button>敬请期待...</button>
</mat-card>