// 品牌色
$primary: #0077ff;
// 辅助色1
$accent: #ffa03e;
// 辅助色2
$accent-2: #18B8F5;
// 辅助色3
$accent-3: #8182F0;
// 辅助色4
$accent-4: #E2B786;
// 点缀色/警示色
$warn: #FF7700;
// 成功色
$success: #34BB56;
// 危险色
$danger: #FF4B31;

// 文本色
$text: #212121;
$text-1: #666666;
$text-2: #999999;
$text-3: #cccccc;

// 线（分割线/描边）色
$border: #dddddd;
$border-2: #eeeeee;

// 背景色
$background: #F7F8FA;
$background-1: #FAFAFA;
$background-2: #FCFCFC;
/* 公共颜色 */
$gray-1: #212121;
$gray-2: #666666;
$gray-3: #999999;
$gray-4: #cccccc;
$gray-5: #f0f0f0;
$gray-6: #f5f5f5;
$gray-7: #fafafa;

$green: #34bb56;
$red: #ff4b31;
$border-color:#e9e9e9;
$highlight: #FF7700;
