@import 'src/styles/index.scss';

:host {
  display: block;
  padding: 16px;
}

.link {
  display: block;
}

.text-indent {
  text-indent: 1.75rem;
}

.table-container {

  .table-header {
    margin-bottom: 16px;
    display: flex;
    align-items: center;
    justify-content: flex-start;

    .search-input {
      width: 400px;

      &::ng-deep {
        .mat-form-field-wrapper {
          padding-bottom: 0;
        }
      }
    }

    .demo-button {
      margin-left: 16px;
    }
  }

  .table-main {
    width: 100%;

    .table-main-thead-tr {
      background-color: #f5f5f5;
    }
  }

  .operate-box {
    width: 200px;
    text-align: center;
  }
}