<mat-card class="article">
  <mat-card-title class="article-title">IndexDB 介绍与使用</mat-card-title>

  <section class="article-section">
    <h3 class="article-section-title">概述</h3>
    <p class="article-section-content text-indent">
      现有的浏览器数据储存方案，都不适合储存大量数据：Cookie 的大小不超过 4KB，且每次请求都会发送回服务器；
      LocalStorage 在 2.5MB 到 10MB 之间（各家浏览器不同），而且不提供搜索功能，不能建立自定义的索引。
      所以，需要一种新的解决方案，这就是 IndexedDB 诞生的背景。
      IndexedDB 允许储存大量数据，提供查找接口，还能建立索引。
    </p>
  </section>
  
  <section class="article-section">
    <h3 class="article-section-title">特点</h3>
    <p class="article-section-content">
      1、遵循同源策略：
          因此当你在某个域名下操作储存数据的时候，你不能操作其他域名下的数据。<br>
      2、异步：
          IndexedDB 操作时不会锁死浏览器，用户依然可以进行其他操作，这与 LocalStorage 形成对比，后者的操作是同步的。<br>
      3、存储空间大：
          IndexedDB 的储存空间比 LocalStorage 大得多，一般来说不少于 250MB，甚至没有上限。<br>
      4、键值对储存：
          数据以"键值对"的形式保存，每一个数据记录都有对应的主键，主键是独一无二的。<br>
      5、支持事务：
          只要有一步失败，整个事务就都取消，数据库回滚到事务发生之前的状态，不存在只改写一部分数据的情况，操作数据更安全。
          <b>每一次增删改查之前都要先建立事务，一个事务对应一次操作。</b><br>
      6、支持二进制储存：
          IndexedDB 不仅可以储存字符串，还可以储存二进制数据（ArrayBuffer 对象和 Blob 对象）
    </p>
  </section>

  <section class="article-section">
    <h3 class="article-section-title">关键词</h3>
    <p class="article-section-content">
      1、数据库：
          新建数据库与打开数据库是同一个操作。如果指定的数据库不存在，就会新建。
          不同之处在于，后续的操作主要在upgradeneeded事件的监听函数里面完成，因为这时版本从无到有，所以会触发这个事件。<br>
      2、对象仓库：
        IDBObjectStore<br>
      3、索引：createIndex<br>
      4、事务：transaction<br>
    </p>
  </section>
  

  <section class="article-section">
    <h3 class="article-section-title">实现例子</h3>
    <div class="table-container">
      <div class="table-header">
        <mat-form-field appearance="outline" class="search-input">
          <mat-label>搜索框(回车键发起搜索)</mat-label>
          <input matInput (change)="applyFilter(input.value)" placeholder="请输入学生姓名" #input autocomplete="off">
        </mat-form-field>
        <button mat-raised-button color="primary" (click)="addData()" class="demo-button">
          添加数据
        </button>
      </div>
      <table mat-table [dataSource]="students" class="table-main">
        <tr mat-header-row class="table-main-thead-tr" *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row class="table-main-tbody-tr" *matRowDef="let row; columns: displayedColumns;"></tr>

        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef> ID. </th>
          <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> 姓名 </th>
          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>
        <ng-container matColumnDef="age">
          <th mat-header-cell *matHeaderCellDef> 年龄 </th>
          <td mat-cell *matCellDef="let element"> {{element.age}} </td>
        </ng-container>
        <ng-container matColumnDef="fraction">
          <th mat-header-cell *matHeaderCellDef> 分数 </th>
          <td mat-cell *matCellDef="let element"> {{element.fraction}} </td>
        </ng-container>
        <ng-container matColumnDef="operation">
          <th mat-header-cell *matHeaderCellDef class="operate-box"> 操作 </th>
          <td mat-cell *matCellDef="let element" class="operate-box">
            <button mat-button color="warn" (click)="deleteTrigger(element)">删除</button>
            <button mat-button color="primary" (click)="ediTrigger(element)">编辑</button>
          </td>
        </ng-container>
      </table>
    </div>
  </section>
  
  <section class="article-section">
    <h3 class="article-section-title">参考文档</h3>
    <p class="article-section-content">
      <!-- <a class="link" target="_blank">https://www.ruanyifeng.com/blog/2018/07/indexeddb.html</a> -->
      <a class="link" target="_blank">https://developer.mozilla.org/zh-CN/docs/Web/API/IndexedDB_API</a>
      <!-- <a class="link" target="_blank">https://wangdoc.com/javascript/bom/indexeddb.html</a> -->
    </p>
  </section>
</mat-card>

