@import '../styles/index.scss';

.progress-bar-container {
  z-index: 11;
  position: fixed;
  top: 64;
  left: 0;
  right: 0;
}

.app-header {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

.app-content {
  padding-top: 64px;
  height: 100%;
  overflow: hidden;
  box-sizing: border-box;
}