@import '../../styles/index.scss';

:host {
  display: flex;
  height: 100%;
}

.menu {
  flex-shrink: 0;
  overflow: auto;
  padding-left: 16px;

  .list {
    padding-top: 0;
    width: 300px;

    .active {
      background-color: rgba(63,81,181,.15);
      color: #3f51b5;
    }
  }
}

.content {
  padding: 16px;
  overflow: auto;
  scroll-behavior: smooth;
  flex: 1;
  min-height: 100%;
  box-sizing: border-box;

  .mat-card {
    min-height: 100%;
  }
}

::ng-deep {
  img {
    margin: 8px 0;
    max-width: 100%;
  }
  pre code{
    display: block;
    overflow: auto;
    padding: 1em;
    white-space: pre-wrap;
    background-color: #f8f8f8;
    color: #333;
    border-radius: 6px;
    line-height: 22px;
    font-size: 14px;
    box-shadow: 0 2px 1px -1px #0003, 0 1px 1px #00000024, 0 1px 3px #0000001f;
  }
  code.hljs{padding:3px 5px}
  .hljs{background:#f3f3f3;color:#444}
  .hljs-comment{color:#697070}
  .hljs-punctuation,.hljs-tag{color:#444a}
  .hljs-tag .hljs-attr,.hljs-tag .hljs-name{color:#444}
  .hljs-attribute,.hljs-doctag,.hljs-keyword,.hljs-meta .hljs-keyword,.hljs-name,.hljs-selector-tag{font-weight:700}
  .hljs-deletion,.hljs-number,.hljs-quote,.hljs-selector-class,.hljs-selector-id,.hljs-string,.hljs-template-tag,.hljs-type{color:#800}
  .hljs-section,.hljs-title{color:#800;font-weight:700}
  .hljs-link,.hljs-operator,.hljs-regexp,.hljs-selector-attr,.hljs-selector-pseudo,.hljs-symbol,.hljs-template-variable,.hljs-variable{color:#ab5656}
  .hljs-literal{color:#695}
  .hljs-addition,.hljs-built_in,.hljs-bullet,.hljs-code{color:#397300}
  .hljs-meta{color:#1f7199}
  .hljs-meta .hljs-string{color:#38a}
  .hljs-emphasis{font-style:italic}
  .hljs-strong{font-weight:700}
}
  