<div class="menu">
  <mat-nav-list class="list">
    <a
      mat-list-item
      *ngFor="let fileName of fileNameList"
      [routerLink]="['./']"
      [queryParams]="{fileName}"
      [class.active]="activeName === fileName"
    >
      <div class="hide_long" [title]="fileName">{{ fileName }}</div>
    </a>
  </mat-nav-list>
  <button mat-raised-button class="download-btn" (click)="onDownload()">下载当前文档</button>
</div>

<div class="content" #box>
  <mat-card>
    <div #content></div>
  </mat-card>
</div>
