@import 'src/styles/index.scss';

:host {
  display: block;
  padding: 16px;
}

.mat-card {
  margin-top: 16px;

  &:first-child {
    margin-top: 0;
  }
}

.info-prototype {
  display: flex;
  align-items: center;
  margin-top: 16px;

  .input-box {
    width: 400px;

    &::ng-deep {
      .mat-form-field-wrapper {
        padding-bottom: 0;
      }
    }
  }

  .input-btn {
    margin-left: 16px;
  }
}
